body{
    margin:0;
    padding:0;
    background:grey;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #959496;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

nav{
    height: 6rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

.logo{
    padding:1vh 1vw;
    text-align: center;
}

.logo img {
    height: 5rem;
    width: 5rem;
}

.navbar-brand{
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    color:rgb(189, 224, 196);
}

.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color:red;
    animation: becomeVisible 1s linear forwards;
}

@keyframes becomeVisible{
    0%{
        opacity:0;
    }
    50%{
        opacity:0.1;
    }
    75%{
        opacity:0.2;
    }
    100%{
        opacity:1;
    }
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    top:-10%;
    left:40%;
    transform:translate(-50%, -50%);
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before{
    width: 80%;
}

.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}


section{
    position: absolute;
    width:100%;
    height:800px;
    top:300px;
}

section .un, section .deux, section .trois, section .quatre{
    position: absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#000000;
}

section .un.animate{
    animation: moveTitle_1 1s linear forwards;
}

section .deux.animate{
    animation: moveTitle_2 1s linear forwards;
}

section .trois.animate{
    animation: moveTitle_3 1s linear forwards;
}

section .quatre.animate{
    animation: moveTitle_4 1s linear forwards;
}

@keyframes moveTitle_1{
    0%{
        transform: translate(0px) rotate(0deg);
    }
    90%{
        transform: translate(-450px, -750px) rotate(360deg);
    }
    100%{
        opacity:0;
    }
}

@keyframes moveTitle_2{
    0%{
        transform: translate(0px) rotate(0deg);
    }
    90%{
        transform: translate(-50px, -750px) rotate(360deg);
    }
    100%{
        opacity:0;
    }
}

@keyframes moveTitle_3{
    0%{
        transform: translate(0px) rotate(0deg);
    }
    90%{
        transform: translate(350px, -750px) rotate(360deg);
    }
    100%{
        opacity:0;
    }
}

@keyframes moveTitle_4{
    0%{
        transform: translate(0px) rotate(0deg);
    }
    90%{
        transform: translate(650px, -750px) rotate(360deg);
    }
    100%{
        opacity:0;
    }
}
  /*
  @keyframes animateLetter6 {
  0%,100%{

    color:#000000;
  }
  50% {

    color:#000000;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
}
*/


















































@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}